# Python
__pycache__/
*.py[cod]

# Virtual environment
myenv/
venv/
.venv/

# Environment variables
.env

# Uploads
backend/uploads/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

vector_database/

repositories/