fastapi
uvicorn[standard]

langchain
langchain-community
langchain-core
langchain-qdrant
langchain-text-splitters
langchain-google-genai

pydantic
pydantic-settings
python-dotenv

qdrant-client

sentence-transformers
transformers
torch